<div class="container">

  <h1>Sign Up</h1>

  <form action='/auth/signup' method='POST'>

    <div class="inputs">
      <label for=''>Username</label>
      <input type='text' name='username' required>
    </div>

    <div class="inputs">
      <label for=''>Password</label>
      <input type='password' name='password' minlength='4' required>
    </div>

    <div class="inputs">
      <label for=''>Name</label>
      <input type='text' name='name' required>
    </div>

    <div class="inputs">
      <label for=''>Last Name</label>
      <input type='text' name='surname' required>
    </div>

    <div class="inputs">
      <label for=''>Country of origin</label>
      <input type='text' name='countryOfOrigin' required>
    </div>

    <div class="inputs">
      <label for=''>Age</label>
      <input type='number' name='age' required>
    </div>

    <div class="inputs">
      <label for=''>Profession</label>
      <input type='text' name='profession' required>
    </div>

    <div class="inputs">
      <label for=''>Country of interest</label>
      <input type='text' name='countryOfInterest' required>
    </div>

    <div class="inputs">
      <label for=''>Topic of interest</label>
      <input type='text' name='topicsOfInterest' required>
    </div>

     <div class="inputs">
      <label for=''>Topic of expertise</label>
      <input type='text' name='topicsOfExpertise' required>
    </div>

      <div class="inputs">
      <label for=''>Upload pic</label>
      <input type='text' name='profilePic' required>
    </div>

     <div class="inputs">
      <label for=''>Description</label>
      <input type='text' name='description' required>
    </div>


    <button type='submit'>Submit</button>

    <p class="account-message">
      Already have an account? <a href="/login">Login</a>
    </p>
  </form>



  {{!-- error message display --}}

  <div class="error">
    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </div>

</div>