<div class="container">

<p class="h4">Welcome to<p>
  <h1 class="text-center "> Locals Meet Locals</h1>
  <p class="h5">by PUENTE</p>
  <div class="inputs">
    <a href="/signup">
      <button class="match-btn btn">Sign up</button>
    </a>
  </div>

  <div class="inputs">
    <a href="/login">
      <button class="match-btn btn">Login</button>
    </a>
  </div>
</div>