<h1>Matching users</h1>
<p>See my <a href="/main">profile</a></p>
<p><a href="/logout">Logout</a></p>



{{#each allUsersfromDB}}
  {{#ifeq this.countryOfOrigin ../userInfo.countryOfInterest}}
  <div class="card" style="width: 18rem;">
    <img src="{{this.profilePic}}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">  {{this.name}}</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{/ifeq}}
{{/each}}